            @font-face {
                font-family: 'youngserifregular';
                src: url('webfonts/YoungSerif-Regular.eot'); /* IE9 Compat Modes */
                src: url('webfonts/YoungSerif-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                    url('webfonts/YoungSerif-Regular.woff2') format('woff2'), /* Super Modern Browsers */
                    url('webfonts/YoungSerif-Regular.woff') format('woff'), /* Pretty Modern Browsers */
                    url('webfonts/YoungSerif-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
                    url('webfonts/YoungSerif-Regular.svg') format('svg'); /* Legacy iOS */
}


            body { 
                margin: 0;
                font-family: 'youngserifregular', 'Lora', serif;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                background: #fff;
                color: #222;
                line-height: 0;
            }
            
            body, #container {
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-start;
            }

            ::selection {
              background: #000; /* WebKit/Blink Browsers */
            }
            ::-moz-selection {
              background: #000; /* Gecko Browsers */
            }
            
            #container {
                width: 960px;
                min-height: 100vh;
                margin: 40px 0;
            }
            
            #container img { width: 100%; }
            
            /*---alternate
            .full { width: 98%; margin: 0 1% 1% 1%;}
            .half { width: 48%; margin: 0 1% 1% 1%;}
            .third { width: 36.2%; margin: 0 1% 1% 1%; }
            .two-thirds { width: 59.8%; margin: 0 1% 1% 1%; }
            ---*/
            
            .full { width: 100%;}
            .half { width: 50%;}
            .quarter { width: 25%; }
            .third { width: 33.333%;}
            .two-thirds { width: 66.666%;}

            figure { 
                padding: 0;
                margin: 0; 
                position: relative;
                min-height: 100%;
            }
            
            figcaption {
                z-index: 10;
                text-decoration: none;
                padding: 20px 30px 22px 30px;
                border: 2px solid #222;
                position: absolute;
                bottom: 30px;
                left: 30px;
                font-family: 'youngserifregular', 'Lora', serif;
            }

            figcaption:hover { background: #222; transition: 0.5s; }

            figcaption:hover > .overlay { opacity: 0.9; }

            .overlay { 
                position: absolute; 
                width: 100%; 
                height: 100%;
                opacity: 0;
                z-index: 2;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }
            
            .overlay:hover, .overlay:active {
                opacity: 1; 
                background: inherit; 
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                -webkit-user-select: none;
                -webkit-touch-callout: none /*only to disable context menu on long press*/
            }
            
            .overlay h2 { 
                width: 61.8%;
                margin: 30px 0 0 60px;
                text-align: left;
                font-weight: 700;
            }

            .overlay p { margin: 15px 0 0 60px;}
            
            .overlay a { color: inherit; }

            .black .overlay p { color: white; }
            
            .yellow { background: rgb(254, 255, 79); }
            .orange { background: rgb(221, 160, 117); }
            .red { background: rgb(255, 60, 60); }
            .blue { background: rgb(65, 107, 123); }
            .purple { background: rgb(57, 90, 255); }
            .off-white { background: rgb(231, 230, 227); }
            
            .text { 
                margin: 60px; }
            
            p { 
                font-family: 'youngserifregular', 'Lora', serif;
                font-size: 16px; 
                line-height: 1.35em; 
                letter-spacing: -0.005em;
                margin: 10px 0; 
                padding: 0; }

            p a { 
                color: inherit;
}

            p a:hover { color: rgb(57, 90, 255); transition: 0.25s; cursor: pointer;}
            
            h1 { 
                font-family: 'youngserifregular', 'Lora', serif;
                font-weight: bold;
                font-size: 34px; 
                line-height: 1.15em; 
                letter-spacing: -0.03em;
                margin: 10px 0px; }

            h2 { 
                font-family: 'youngserifregular', 'Lora', serif;
                font-weight: bold;
                font-size: 24px; 
                line-height: 1.25em; 
                letter-spacing: -0.03em;
                margin: 0; }
        
            em {
                font-style: italic;
            }
            
            strong {
                font-style: italic;
                font-weight: inherit;
            }

            hr { border: 1px solid #222; width: 100%; margin: 0;  }
            
            small { opacity: 0.4; line-height: 1.2em; }
            
            a { 
                color: #222;
                font-style: normal;
            }
            
            a.boxed {
                border: 2px solid #222;
                line-height: 1.5em;
                padding: 6px 20px 8px 20px;
                text-decoration: none;
                font-family: sans-serif;
                text-transform: uppercase;
                letter-spacing: 0.02em;
                font-weight: bold;
                font-size: 12px;
                transition: 0.5s;
            }

            a.boxed:hover {
                background: #222;
                color: rgba(255,255,255,1);
                transition: 0.5s;}

            .cta { margin-bottom: 30px; }
            
            ul { 
                list-style-type: none; 
                padding: 0; 
                margin: 10px 0 20px 0; 
                line-height: 1.5em;}
            
            li { 
                font-family: 'youngserifregular', 'Lora', serif;
                font-weight: 500;
            }

            li a { color: #277F83; }

            li a:hover { opacity: 0.8; }

            li a:visited { color: #222; }

            nav { 
                position: fixed; 
                top: 0;
                width: 100%;
                max-width: 960px;
                height: 45px;
                padding-top: 14px;
                z-index: 12;
                background: rgba(255,255,255,1);
                border-bottom: 2px solid #222;
                }

            nav a { 
                color: #444; 
                text-decoration: none;
                margin-left: 20px;
                font-family: 'youngserifregular', 'Lora', serif; }

            nav a img:hover { 
                opacity: 0.5; 
                transition: 0.25s; }

            nav h2 { margin-left: 60px; }

            .logo {  
                position: absolute; 
                right: 8px; top: 4px;}
            
            footer { 
                width: 100%;
                padding: 16px 50px 0 50px;
                margin-top: -1px;
                z-index: 12;
                border-top: 2px solid #222;
            }
            
            footer a { 
                padding: 0 20px 0 10px;
                text-decoration: none;
                font-family: 'youngserifregular', 'Lora', serif;
                line-height: 15px;
            }
            
            footer a:first-child { 
                font-weight: 700;
            }
            
            .social { 
                float: right;
                padding: 0 0 0 20px;
                margin-top: -6px;}

            #container .social img { width: 24px; }

            .wf-loading {
                /* styles to use when web fonts are loading */
                display: none;
                }

                .wf-active {
                /* styles to use when web fonts are active */
                }

                .wf-inactive {
                /* styles to use when web fonts are inactive */
                }

    
@media only screen and (max-width: 920px) {
    
    h1 { font-size: 26px; line-height: 29px; margin: 60px 0 0 0; }
    
    #welcome { margin-bottom: 60px;}
    #bio { margin: 30px;}

    .third { width: 100%; }
    .two-thirds { width: 100%; }
    
    .social { padding: 0 20px 0 0; }
    
}

@media only screen and (max-width: 760px) {
 
    .half { width: 100%; }
    
    .text { margin: 20px 60px 0px 60px; max-width: 500px; }
    
    nav { display: none; }
    #container { margin: 0; }
    
}


@media only screen and (max-width: 560px) {
    
    .text { margin: 20px; }
    
    footer { padding: 14px 0; }
    
    .overlay { opacity: 1; background: inherit;}
    
    .overlay:active { opacity: 1;}
    
    .overlay h2 { width: 80%; margin: 25px 0 0 20px;  }
    
    .overlay p { margin: 15px 0 0 20px; }
    
    .yellow { background: rgba(254, 255, 79, 0.9); }
    .orange { background: rgba(221, 160, 117, 0.9); }
    .red { background: rgba(255, 60, 60, 0.9); }
    .blue { background: rgba(65, 107, 123, 0.9); }
    .purple { background: rgba(57, 90, 255, 0.9); }
    .off-white { background: rgba(231, 230, 227, 0.9); }
}