:root {
    --background-color: #101D1A;
    --empty-state-color: rgba(255,255,255,0.1);
    --primary-text-color: #fff;
    --secondary-text-color: rgba(255,255,255,0.4);
    --inverse-text-color: rgb(16 29 26 / 80%);
    --inverse-secondary-text-color: rgb(16 29 26 / 40%);
    --highlight-color: #FF402D;
    --transparent: rgba(0, 0, 0, 0.0);
    --headline-font: 'Instrument Sans', sans-serif;
    --secondary-font: 'Instrument Serif', serif;
    --body-font: Courier, monospace;
}

body {
    font-family: var(--body-font);
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    padding: 20px 0 0 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1 {
    font-family: var(--secondary-font);
    font-weight: 400;
    color: var(--primary-text-color);
    padding: 0;
    font-size: 64px;
    line-height: 0.95em;
    letter-spacing: -0.03em; 
    margin: 0;
    text-wrap: balance;
}

h2 { 
    font-family: var(--headline-font);
    font-weight: 700;
    color: white;
    font-size: 40px;
    line-height: 1.1em;
    letter-spacing: -0.02em; 
    margin: 0;
    text-wrap: balance;
}

li, em {
    font-family: var(--headline-font);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.8em;
    font-style: normal;
    color: white;
}

p {
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3em;
    color: var(--primary-text-color);
    margin: 0 0 24px 0;
    max-width: 640px;
}

a { 
    color: inherit; 
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--secondary-text-color);
    text-decoration-style: dotted;
}

ol {
    padding: 12px 24px;
}

li {
    padding: 4px 0;
}

small {
    color: var(--secondary-text-color);
    font-size: 10px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 700;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

    .nav a:hover {
        text-decoration: line-through;
    }

    .nav a:hover svg path {
        fill: var(--highlight-color);
    }

    .nav a {
        height: 24px;
        margin: 0 24px;
        font-family: var(--secondary-font);
        font-size: 32px;
        letter-spacing: -0.02em;
        line-height: 24px;
        text-decoration: none;
        color: white;
    }

    .nav img {
        border-radius: 0;
    }


figcaption::before {
    content: url('images/infotip.svg');
    height: 32px;
    width: 32px;
    opacity: 0.4;
}

figcaption:hover::before, figcaption:active::before {
    opacity: 1;
}

figcaption {
    position: absolute;
    display: flex;
    top: 16px;
    left: 16px;
    max-width: 80%;
    padding: 6px;
    background: rgb(255 255 255 / 40%);;
    border-radius: 24px;
    filter: drop-shadow(0px 2px 3px rgba(0,0,0,0.05));
    backdrop-filter: blur(6px);
    z-index: 100;
    cursor: help;
    transition: background 0.2s ease;
}

figcaption:hover {
    background: rgb(255 255 255 / 90%);;
}

figcaption p {
    opacity: 0;
    visibility: hidden;
    height: 0;
    width: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.35em;
    color: var(--inverse-text-color);
    transition: opacity 0.2s ease 0.1s, height 0.2s ease, width 0.2s ease, padding 0.2s ease;
    /* text-wrap: balance; */
}

figcaption:hover p, figcaption:active p {
    opacity: 1;
    height: auto;
    width: auto;
    visibility: visible;
    padding: 6px 6px 6px 12px;
    margin: 0;
}

figcaption small {
    line-height: 1.25em;
    color: var(--inverse-secondary-text-color);
    padding-top: 6px;
    display: block;
}

img, video {
    border-radius: 30px;
    height: 100%;
    width: auto;
    max-width: 88vw;
    object-fit: cover;
    display: block;
}

video {
    /* aspect-ratio: 16 / 9; */
}

.grid-item {
    grid-column: span 5;
    padding: 0 24px;
}

figure {
    grid-column: span 8;
    margin: 24px 0;
    position: relative;
}

    figure a {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 24px;
        bottom: 24px;
        height: 80px;
        width: 80px;
        background: url(images/link-out.svg) no-repeat center center;
        background-size: contain;
        filter: drop-shadow(0px 2px 5px rgba(0,0,0,0.20)) drop-shadow(0px 10px 10px rgba(0,0,0,0.05));
    }

      .download {
        background: url(images/download.svg) no-repeat center center;
        background-size: contain;
      }

    figure a:hover {
        transform: scale(0.95);
    }

.intro { 
    max-width: 640px; 
    grid-column: span 7; 
}

.overview { 
    margin-bottom: 24px;
    grid-column: span 7; 
}

.carousel {
    position: relative;
    grid-column: span 12;
    height: 32vw;
    min-height: 320px;
    margin-bottom: 24px;
    overflow: hidden;
    cursor: grab;
}

.carousel-inner {
    position: absolute;
    top: 0;
    left: 0;
    /*    width: 100%; */
    height: 100%;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-item {
    /* flex: 0 0 100%; */
    margin: 0 24px 24px 0;
}

    .carousel-item:first-of-type {
        margin-left: 24px;
        min-width: 58.31vw;
        object-fit: cover;
    }

    .carousel-item:first-of-type video {
        width: 100%;
        object-fit: cover;
    }

.carousel-dots {
  display: flex;
  position: absolute;
  bottom: 0;
  margin-left: 24px;
}

.carousel-dot {
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--empty-state-color);
    padding: 0;
    margin-right: 12px;
    cursor: pointer;
}

.carousel-dot.active {
  background-color: var(--highlight-color);
}


.carousel-control {
    position: absolute;
    z-index: 99;
    top: 60%;
    transform: translateY(-50%);
    width: 10%;
    height: 60%;
    margin: -20px;
    padding: 0;
    background-color: var(--transparent);
    border: none;
    /* border-radius: 50%; */
    color: transparent;
    /* font-size: 16px; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    /* transition: background-color 0.3s ease-in-out; */
}

.carousel-control:hover {
    background-color: var(--transparent);
}

.prev {
    left: 10px;
    cursor: w-resize;
}

.next {
    right: 10px;
    cursor: e-resize;
}

@media (max-width: 1200px) {
    .grid-item {
        grid-column: span 6;
    }
}

@media (max-width: 900px) {
    body {
        padding-bottom: 80px;
    }

    .nav {
        position: fixed;
        bottom: 0;
        padding: 24px 0;
        width: 100%;
        justify-content: center;
        background: rgba(0, 0, 0, 0.01);
        backdrop-filter: blur(6px);
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 24px;
        line-height: 1.2em;
    }

    img, video {
        border-radius: 20px;
    }

    .grid-item {
        grid-column: span 12;
    }

    .carousel {
        min-height: 260px;
        margin-bottom: 24px;
    }

    .carousel-item:first-of-type {
        margin-left: 12px;
        min-width: 84vw;
    }

    .carousel-control {
        display: none;
    }

    .carousel-dots {
        margin-left: 0;
        justify-content: center;
        width: 100%;
    }

    .overview {
        margin-bottom: 0px;
    }

    figure a {
        height: 48px;
        width: 48px;
        right: 12px;
        bottom: 12px;
    }

    figcaption {
        top: 8px;
        left: 8px;
        /* display: none; */
    }
}
