<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Aya Brackett, Photographer</title>
  <meta content="BIO/DESCRIPTION" name="description">
  <meta content="Aya Brackett, Photographer" property="og:title">
  <meta content="BIO/DESCRIPTION" property="og:description">
  <meta content="BIO/DESCRIPTION" name="twitter:card">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="aya.css" rel="stylesheet" type="text/css">
</head>
<body>

    <a href="index.html" class="logo">Aya Brackett</a>
    
    <nav>
        <div class="nav-wrapper">
            <ul class="projects">
                <li><a href="still-life.html">Still Life</a></li>
                <li><a href="portraits.html">Portraits</a></li>
                <li><a href="travel.html">Travel</a></li>
                <li><a href="magazines.html">Magazines</a></li>
                <li><a href="books.html">Books</a></li>
                <li><a href="advertising.html">Advertising</a></li>
            </ul>
            <ul class="info">
                <li><a href="about.html">About</a></li>
                <li class="current"><a href="news.html">News</a></li>
                <li><a href="shop.html">Shop</a></li>
            </ul>
        </div>
    </nav>

    <div class="content">
        
        <!-- TWIG News Post Loop

        {% for post in news-posts %}
            <div class="news-post">
            <div class="post-text">
                <h1>{{post-title}}</h1>
                <time datetime="{{YYYY-MM-DD 00:00}}">{{Month DD, YYYY}}</time>
                <p>{{post-text}}</p>
            </div>

                {% for images in post %}
                    <div class="post-images">
                        <figure class="grid-image">
                          <img src="{{ image-url }}" alt="{{ caption }}">
                          <figcaption>{{ caption }}</figcaption>
                        </figure>
                    </div>
                {% endfor %}

            </div>
        {% endfor %}

        END News Post Loop -->
        
        
        
        
        <div class="news-post">
            <div class="post-text">
                <h1>New Revised Edition of How To Cook Everything by Mark Bittman</h1>
                <time datetime="2019-09-26 20:00">September 26, 2019</time>
                <p>
                    The 20th anniversary of&nbsp;<a href="https://www.amazon.com/gp/product/1328545431/ref=dbs_a_def_rwt_bibl_vppi_i0"><em>How to Cook Everything</em>&nbsp;by Mark Bittman</a> is marked by this new edition&nbsp;with photographs by me! It was an honor to work on such a classic and essential book. We spent 3 weeks in NYC photographing hundreds of dishes and my crew, <a href="http://www.victoriagranof.com" target="_blank">Victoria Granof</a> (food stylist extraordinaire), <a href="https://www.michelekarpe.com/Philippa-Brathwaite/Portfolio/1">Philippa Brathwaite</a> (prop stylist),&nbsp;<a href="https://www.martynaszcz.com">Martyna Szczesna</a> (photo assistance), Kerri Conan, Stephanie Fletcher from Houghton Mifflin Harcourt&nbsp;made the job a dream. You can see more images from the book<a href="http://www.ayabrackett.com/books/">&nbsp;HERE</a>
                </p>
            </div>
            <div class="post-images">
                <figure class="grid-image">
                  <img src="https://www.ayabrackett.com/wp-content/uploads/2019/09/1__Bittman_HTCE_Cover-2.jpg">
                  <figcaption>Here’s the caption</figcaption>
                </figure>
                <figure class="grid-image">
                  <img>
                  <figcaption>Here’s the caption</figcaption>
                </figure>
                <figure class="grid-image">
                  <img>
                  <figcaption>Here’s the caption</figcaption>
                </figure>
            </div>
        </div>
        
        
        <div class="news-post">
            <div class="post-text">
                <h1>Dinner for Everyone by Mark Bittman – out in stores now!</h1>
                <time datetime="2019-09-26 20:00">September 26, 2019</time>
                <p>
                    The book that really solves the nightly dinner dilemna is out now! <a href="https://www.amazon.com/Dinner-Everyone-Ways-Easy-Perfect-Company/dp/0385344767">Dinner for Everyone</a>&nbsp;by Mark Bittman was a lengthy shoot with over 300 recipes and lots of leftovers (I gained a few pounds on this shoot!)
                </p>
            </div>
            <div class="post-images">
                <figure class="grid-image">
                  <img src="https://www.ayabrackett.com/wp-content/uploads/2019/09/1_BittmanDFE_Cover-1.jpg">
                  <figcaption>Here’s the caption</figcaption>
                </figure>
                <figure class="grid-image">
                  <img>
                  <figcaption>Here’s the caption</figcaption>
                </figure>
            </div>
        </div>
        
        
        <div class="news-post">
            <div class="post-text">
                <h1>Newlywed Table cookbook – Available now!</h1>
                <time datetime="2019-09-26 20:00">April 17, 2018</time>
                <p>
                    Earlier this year we were busy shooting a cookbook with <a href="https://www.mariazizka.com">Maria Zizka</a> for Artisan books titled&nbsp;<a href="https://www.amazon.com/Newlywed-Table-Cookbook-Kitchen-Together/dp/1579657982"><em>The Newlywed Table</em></a>. We shot mostly in&nbsp;studio but also&nbsp;on a couple&nbsp;locations (including my own kitchen :). <a href="http://grahambradley.com" target="_blank">Graham Bradley</a>&nbsp;designed the book and cheerfully&nbsp;mocked up over 200 cover options – this team was a hard&nbsp;working, creative powerhouse!
                </p>
            </div>
            <div class="post-images">
                <figure class="grid-image">
                  <img src="http://www.ayabrackett.com/wp-content/uploads/2018/09/NewlywedTable.jpg">
                  <figcaption>Here’s the caption</figcaption>
                </figure>
                <figure class="grid-image">
                  <img src="http://www.ayabrackett.com/wp-content/uploads/2018/09/AyaBrackettNewlywedbook.jpg">
                  <figcaption>Here’s the caption</figcaption>
                </figure>
                <figure class="grid-image">
                  <img src="http://www.ayabrackett.com/wp-content/uploads/2018/09/AyaBrackettNewlywedbook_process.jpg">
                  <figcaption>Here’s the caption</figcaption>
                </figure>
            </div>
        </div>
    
    </div>
    
    <div class="mobile-navbar">
        <div class="mobile-navbar-item single-nav-icon">Single</div>
        <div class="mobile-navbar-item grid-nav-icon">Grid</div>
        <div class="mobile-navbar-item info-nav-icon">Caption</div>
        <div class="mobile-navbar-menu menu-nav-icon">Menu</div>
    </div>
    
</body>
</html>
